{{>header}}
{{>navbar}}
<section class="my-3 container">
    <h2 class="mb-4">add task</h2>
    <form method="post">
        <div class="dropdown my-3">

            <select name="taskType" class="form-select" aria-label="Default select example">
                {{#each allTypes}}
                <option vlaue="{{this.taskType}}">{{this.taskType}}</option>
                {{/each}}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control" placeholder="task name" name="taskName">
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="add task">
        </div>
    </form>
</section>
{{>footer}}